@media (min-width: 60em) {
    header{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
header img{
    width: 30%;
    height: auto;
}
#mode{
    flex: 4;

}
main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: auto;
}
.hero-container{
    grid-column: 1/4;
    grid-row: 1/2;
}
#current-events{
    grid-column: 1/3;
    grid-row: 2/3;
}
#contact-info img{
    width: 30%;
    height: auto;
}
}