@media (min-width: 37.5em) {
  /*Grid*/
  header {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hero-container {
    grid-column: 1/3;
  }
  #contact-info img {
    width: 30%;
    height: auto;
  }

  /* Hamburguer Button*/
  #menu {
    display: none;
  }

  .navigation {
    flex-direction: row;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  .stuff {
    margin: 1rem auto;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1;
    padding: 20px;
  }
  .gallery img:hover {
    box-shadow: 0 0 50px #333
  }
  aside {
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
  }
}
